header
{
	background-color: black;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
header h1
{
	color: white;
}
header img
{
	border-radius: 150px;
	width: 300px;
	border: 20px solid grey;
	
}
body
{
	margin: 0;
	
}